<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for (personaje of personajes; track personaje.id){
        <ion-col size="12" size-md="6" size-lg="3">
          <ion-card>
            <img class="card-image" alt="{{personaje.image}}" src="{{personaje.image}}" />
            <ion-card-header>
              <ion-card-title>{{personaje.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{personaje.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>